@{
    ViewBag.Title = "ErrorLogin";
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}

    @Html.AntiForgeryToken()


    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 login_bg">
                <div style="text-align: center; margin-top:80px">
                    <h3>
                        @ViewBag.Message 
                    </h3>
                    <h3>
                        Go to first page
                        @Html.ActionLink("here", "Login", "Login", new { @style = "color: #FFFFFF;" }, FormMethod.Get)
                    </h3>
                </div>
                
            </div>
        </div>
    </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}