
@{
    ViewBag.Title = "ErrorLogin";
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}

    @Html.AntiForgeryToken()


    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 login_bg">
                <div style="text-align: center; margin-top:80px">
                    <h3>
                        E-mail or password is wrong!
                    </h3>
                    <h3>
                        Try again

                        @Ajax.ActionLink("here", "Login", new AjaxOptions { HttpMethod = "POST" },null, new { @style = "color: #FFFFFF;" })
                    </h3>
                </div>
                
            </div>
        </div>
    </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}