@model IEnumerable<string>

@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<table class="table" style="width: 350px">
    <tr>
        <th>
            <h4 style="font-weight:bold;">Available Dates</h4>
        </th>

    </tr>

    @foreach (string item in Model)
    {
        <tr >
            <td>
                <span style="font-weight:bold; font-size:20px;">@Html.DisplayFor(hourSelected => item)</span>
            </td>

            <td  style="width: 150px">
            @Html.ActionLink("Reserve", "DoAdminReservation", "Admin", new { hourSelected = item }, new { @class = "btn btn-primary btn-block", FormMethod.Get })
            </td>

        </tr>
    }

</table>


