@model IEnumerable<string>


    <table class="table">
        <tr>
            <th>
                <h4  style="font-weight:bold;">Available Dates</h4>
            </th>

        </tr>

        @foreach (string item in Model)
        {
            <tr>
                <td>
                    <span style="font-weight:bold; font-size:20px;">@Html.DisplayFor(hourSelected => item)</span>
                </td>

                <td>
                    <div style="width: 150px">
                        @Html.ActionLink("Reserve", "DoReservation", "User", new { hourSelected = item }, new { @class = "btn btn-primary btn-block", FormMethod.Get})
                    </div>
                </td>

            </tr>
        }

    </table>


